<div class="ImageSlide Section">
  <ul id="Slide" class="ImageSlide__main">
    <li class="ImageSlide__item js-slide-item">
      <a href="#">
        <%= image_tag('top/slide1.jpg', class: 'ImageSlide__image', alt:'about our tea', width:'1180', height:'490') %>
      </a>
    </li>
    <li class="ImageSlide__item js-slide-item">
      <a href="#">
        <%= image_tag('top/slide2.jpg', class: 'ImageSlide__image', alt:'about our tea', width:'1180', height:'490') %>
      </a>
    </li>
    <li class="ImageSlide__item js-slide-item">
      <a href="#">
        <%= image_tag('top/slide3.jpg', class: 'ImageSlide__image', alt:'about our tea', width:'1180', height:'490') %>
      </a>
    </li>
  </ul>
  <div class="ImageSlide__sub">
    <span class="ImageSlide__dot js-slide-point">image1</span>
    <span class="ImageSlide__dot js-slide-point">image2</span>
    <span class="ImageSlide__dot js-slide-point">image3</span>
  </div>
</div>