<% @title = t('.title') %>
<section class="Section">
  <h1 class="Staff__title"><%= @title %></h1>
</section>

<section class="Section l-column DashBoard">
  <ul class="DashBoard__menu">
    <li><%= link_to t('.staff_customers'), :staff_customers, class: 'btn btn-default' %></li>
  </ul>
</section>