<% @title = '職員トップページ' %>
<section class="Section">
  <h1 class="Staff__title"><%= @title %></h1>
</section>

<section class="Section l-column">
  <div class="Section__head">
    <h2 class="sectionLabel">お知らせ</h2>
  </div>
  <ol class="NewsList">
    <li class="NewsList__item">
      <time class="NewsList__head" datatime="2017-1-28">2017.1.28</time>
      <span class="NewsList__body">アカウント情報編集機能を追加</span>
    </li>
    <li class="NewsList__item">
      <time class="NewsList__head" datatime="2017-1-21">2017.1.21</time>
      <span class="NewsList__body">ログイン機能を追加</span>
    </li>
    <li class="NewsList__item">
      <time class="NewsList__head" datatime="2017-1-18">2017.1.18</time>
      <span class="NewsList__body">エラーページを追加</span>
    </li>
    <li class="NewsList__item">
      <time class="NewsList__head" datatime="2017-1-17">2017.1.17</time>
      <span class="NewsList__body">開発を開始しました</span>
    </li>
  </ol>
</section>
