@charset 'utf-8';

// =====================
// ログインページ固有のスタイル
// =====================

.Login {
  width: 400px;
  @include mq-sp {
    width: auto;
  }
  margin: $wide * 2 auto;
  padding: $wide * 2;
  border-radius: $wide;

  &--staff {
    border: solid 4px $dark_cyan;
  }
  &--admin {
    border: solid 4px $dark_magenta;
  }
  &--customer {
    border: solid 4px $dark_yellow;
  }

  background-color: $very_light_gray;

  &__head {
    background-color: transparent;
    color: $very_dark_cyan;
    font-size: $huge;
    font-weight: bold;
  }

  &__body {
  }

}

