<header class="Header Staff__header">
  <div id="menu-button" class="Header__button">
    <%= fa_icon 'bars' %>
  </div>
  <div class="Header__head">
    <h1 class="logo"><%= link_to('BAUKIS KAI', staff_root_url, class:'logo logo--staff') %></h1>
  </div>
  <nav class="Header__body SpMenu">
    <ul class="Menu">
      <li class="Menu__item"><a href="#"></a></li>
    </ul>
  </nav>
</header>