<footer class="Footer Customer__footer">
  <div class="l-row l-column">
    <div class="Footer__head">
      <%= link_to('BAUKIS KAI', customer_root_url, class:'logo') %>
      <ul class="Menu Menu--sub">
        <li><a href="#" class="Menu__item"></a></li>
      </ul>
    </div>
    <div class="Footer__body">
      <p>Powered by BAUKIS KAI &copy; 2025 k2works</p>
    </div>
  </div>
</footer>