$color-base: #fbf7fe;
$color-main-text: #474747;
$color-link: #878378;
$color-reverse-line: #fff;
$color-reverse-fill: #252525;
//sizes
$base-content-width: 1180px;
$space-unit: 20px;
$sp-space-unit: 15px;
$column-space: $space-unit*2;
$color-black: #252525;
$color-main-text: #474747;
$color-white: #fff;
$font-sub: 'Lato';