@charset 'utf-8';

// colors
$color-white: #fff;
$color-black: #252525;

$color-base: #fbf7f3;
$color-main-text: #474747;
$color-link: #878378;

$color-reverse-line: #fff;
$color-reverse-fill: #252525;


// sizes
$base-content-width: 1180px;
$space-unit: 20px;
$sp-space-unit: 15px;
$column-space: $space-unit*2;

// paths
$image-path: "../images/";

// fonts
$font-sub: 'Lato';

// break points
$sp-max-width: 640px;
$pc-min-width: 641px;
$sp-menu-width: 200px;

//Staff
/* グレー系 */

$dark_gray: #666666;
$gray: #cccccc;
$light_gray: #eeeeee;
$very_light_gray: #fafafa;

/* シアン系 */

$dark_cyan: #448888;
$very_dark_cyan: darken($dark_cyan, 25%);

/* マージン、パディング */

$narrow: 2px;
$moderate: 6px;
$wide: 10px;
$very_wide: 20px;

/* フォントサイズ */

$tiny: 8px;
$small: 10px;
$normal: 12px;
$large: 16px;
$huge: 20px;

/* 行の高さ */

$standard_line_height: 16px;
