<% @title = t('.title') %>
<section class="Section">
  <h1 class="Customer__title"><%= @title %></h1>
</section>

<section class="Section l-column DashBoard">
  <div class="Section__head">
    <h2 class="sectionLabel">お知らせ</h2>
  </div>
  <ol class="NewsList">
    <li class="NewsList__item">
      <time class="NewsList__head" datatime="2017-3-28">2017.3.28</time>
      <span class="NewsList__body">問い合わせ返信機能を追加</span>
    </li>
    <li class="NewsList__item">
      <time class="NewsList__head" datatime="2017-3-18">2017.3.18</time>
      <span class="NewsList__body">問い合わせ機能追加</span>
    </li>
    <li class="NewsList__item">
      <time class="NewsList__head" datatime="2017-3-17">2017.3.17</time>
      <span class="NewsList__body">顧客自身によるアカウント管理機能追加</span>
    </li>
    <li class="NewsList__item">
      <time class="NewsList__head" datatime="2017-3-17">2017.3.17</time>
      <span class="NewsList__body">プログラム申し込み機能追加</span>
    </li>
    <li class="NewsList__item">
      <time class="NewsList__head" datatime="2017-2-9">2017.2.9</time>
      <span class="NewsList__body">顧客ログイン・ログアウト機能追加</span>
    </li>
  </ol>
</section>

<section class="Section l-column DashBoard">
  <ul class="DashBoard__menu">
    <li><%= link_to t('.customer_programs'), :customer_programs, class: 'btn btn-default' %></li>
    <li><%= link_to t('.customer_messages'), :customer_messages, class: 'btn btn-default' %></li>
  </ul>
</section>