<footer class="Footer">
  <div class="l-row l-column">
    <div class="Footer__head">
      <%= link_to('BAUKIS KAI', staff_root_url, class:'logo') %>
      <ul class="Menu Menu--sub">
        <li><a href="#" class="Menu__item">Services</a></li>
        <li><a href="#" class="Menu__item">Work</a></li>
        <li><a href="#" class="Menu__item">About us</a></li>
        <li><%= link_to('Blog', staff_article_index_url,class:"Menu__item") %></li>
        <li><a href="#" class="Menu__item">Contact</a></li>
      </ul>
    </div>
    <div class="Footer__body">
      <p>Powered by BAUKIS KAI &copy; 2014 k2works</p>
      <p><a href="#">Legal Notice</a></p>
      <p><a href="#">Privacy policy</a></p>
    </div>
    <ul class="Footer__foot SNS">
      <li class="SNS__item"><a class="fa fa-facebook-official" href="#"><span class="SNS__text">Facebook</span></a></li>
      <li class="SNS__item"><a class="fa fa-youtube-square" href="#"><span class="SNS__text">Youtube</span></a></li>
      <li class="SNS__item"><a class="fa fa-twitter-square" href="#"><span class="SNS__text">Twitter</span></a></li>
      <li class="SNS__item"><a class="fa fa-linkedin-square" href="#"><span class="SNS__text">LinkedIn</span></a></li>
      <li class="SNS__item"><a class="fa fa-flickr" href="#"><span class="SNS__text">Flickr</span></a></li>
      <li class="SNS__item"><a class="fa fa-instagram" href="#"><span class="SNS__text">Instagram</span></a></li>
      <li class="SNS__item"><a class="fa fa-yelp" href="#"><span class="SNS__text">Yelp</span></a></li>
    </ul>
  </div>
</footer>