<header class="Header l-column">
  <div id="menu-button" class="Header__button">
    <%= fa_icon 'bars' %>
  </div>
  <div class="Header__head">
    <h1 class="logo">BAUKIS KAI</h1>
  </div>
  <nav class="Header__body SpMenu">
    <ul class="Menu">
      <li class="Menu__item"><a href="#">Services</a></li>
      <li class="Menu__item"><a href="#">Work</a></li>
      <li class="Menu__item"><a href="#">About</a></li>
      <li class="Menu__item"><a href="#">Blog</a></li>
      <li class="Menu__item"><a href="#">Contact</a></li>
    </ul>
  </nav>
</header>