<header class="Header">
  <div class="Header__head">
    <h1 class="logo">BAUKIS KAI</h1>
  </div>
  <nav class="Header__body">
    <ul class="Menu">
      <li class="Menu__item"><a href="#">Services</a></li>
      <li class="Menu__item"><a href="#">Work</a></li>
      <li class="Menu__item"><a href="#">About</a></li>
      <li class="Menu__item"><a href="#">Blog</a></li>
      <li class="Menu__item"><a href="#">Contact</a></li>
    </ul>
  </nav>
</header>