.Header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 98px;
  &__head {
    flex: 1 1 auto;
    text-align: center;
  }
  &__body {
    flex: 3 1 auto
  }
  //スマートフォン用ハンバーガーボタン
  &__button {
    @include mq-pc {
      display: none;
    }
    @include mq-sp {
      display: block;
      color: $color-main-text;
      font-size: 22px;
    }
  }
}