@charset 'utf-8';

// =====================
// Table
// ---------------------
// 共通テーブル
// =====================

.Table {
  width: 90%;
  margin: 0 auto;

  &__links {
    text-align: right;
    padding: $moderate;
  }

  &__body {
    &--listing {
      width: 100%;
      tr:nth-child(even) { background-color: $very_light_gray }
      tr:nth-child(odd) { background-color: $light_gray }
    }

    &--attributes {
      width: 100%;
      th { padding-right: $moderate; width: 200px }
      td { background-color: $very_light_gray }
    }
  }

  &__th {
    background-color: $dark_gray;
    color: $very_light_gray;
    padding: $narrow;
    text-align: center;
  }

  &__td {
    padding: $narrow;
    &--email { font-family: monospace }

    &--date {
      font-family: monospace;
    }

    &--boolean { text-align: center }

    &--actions {
      color: $dark_gray;
      text-align: center;
    }

    &--center {
      text-align: center;
    }
  }
}


