@import "colors";

div.wrapper {
  div.container {
    h1 {
      margin: 0;
      padding: 9px 6px;
      font-size: 16px;
      font-weight: normal;
      background-color: $very_dark_cyan;
      color: $light_gray;
    }
  }
}
