// =====================
// ApplicationForm
// ---------------------
// アプリケーション用フォーム
// =====================


.AppForm {
  &__generic-form {
    width: 480px;
    margin: $very_wide auto;
    padding: $very_wide;
    border-radius: $wide;
    background-color: $very_light_gray;
    }
  &__notes {
    text-align: right;
    font-size: $small;
    span.mark { color: $red }
  }
  &__label {
    display: block;
    padding: $moderate 0;
  }
  label {
    &.required:after {
      content: '*';
      padding-left: $narrow;
      color: $red;
    }
    input[type='checkbox']+label { display: inline-block }
    input[type='radio']+label { display: inline-block }
  }
  &__buttons {
    text-align: center;
    input[type='submit'] {
      padding: $wide $very_wide;
    }
  }
  &--field_with_errors {
    display: inline;
    padding: 0;
    label { color: $red }
    input { background-color: $pink }
  }
  &__input-block {
    input { margin-right: $narrow * 2; }
  }
  &__search {
    padding: $wide;
    border: solid $dark_gray 1px;
    background-color: $very_light_gray;
    div {
      display: inline-block;
      margin-right: $moderate $very_wide $moderate 0;
      label { margin-right: $moderate }
    }
  }
}