//Carousel
.ImageSlide {
  position: relative;
  display: flex;
  flex-direction: column;
  //画像のラッパー
  &__main {
    display: flex;
    flex-wrap: nowrap;
  }
  //画像１つ分
  &__item {
    flex: 0 0 80%;
  }
  //本体画像
  &__image {
    width: 100%;
    height: auto;
  }
}