.NewsList {
  display: table;
  border-spacing: 0px $space-unit/2;
  &__item {
    display: table-row;
  }
  &__head {
    display: table-cell;
    padding-right: $column-space;
  }
  &__body {
    display: table-cell;
  }
}