// ===========================
// Base
// ===========================
@font-face {
  font-family: 'Lato';
  src: url('Lato/Lato-Regular.ttf') format('truetype');
}
@import "./base/variables";
@import "./base/mixins";
@import "./base/reset";

// ===========================
// Components
// ===========================

// Parts
//----------------------------
// レイアウト
@import "./components/parts/layouts";

// ボタン
@import "./components/parts/buttons";

// ラベル、見出し
@import "./components/parts/labels";

// フッター
@import "./components/common/footer";

// Common
//----------------------------
// ヘッダー
@import "./components/common/header";

// メニュー
@import "./components/common/menu";

// セクション分け
@import "./components/common/section";

// SNS
@import "./components/common/sns";

// Others
//----------------------------
// ブログ抜粋
@import "./components/entryPanel";

// カルーセル
@import "./components/imageSlide";

// 写真背景パネル
@import "./components/overlayPanel";

// アイコンつき説明パネル
@import "./components/iconPanel";

// おしらせ一覧
@import "./components/newsList";

// フォーム
@import "./components/form";

//font-awesome
@import "font-awesome";
//BootStrap
@import "bootstrap-sprockets";
@import "components/bootstrap-custom";
// ===========================
// Pages
// ===========================
@import "./pages/index";

@import "./pages/campaign";

@import "./pages/article";

// ===========================
// Utils
// ===========================
// サイズ、余白などの便利class
@import "./utils/arrangements";

//@import "pages/staff/container";
//@import "pages/staff/layout";