<header class="Header Admin__header">
  <div id="menu-button" class="Header__button">
    <%= fa_icon 'bars' %>
  </div>
  <div class="Header__head">
    <h1 class="logo"><%= link_to('BAUKIS KAI', admin_root_url, class:'logo logo--admin') %></h1>
  </div>
  <nav class="Header__body SpMenu">
    <ul class="Menu">
      <li class="Menu__item"><a href="#"></a></li>
    </ul>
  </nav>
  <%= if current_administrator
        link_to 'ログアウト', :admin_session, method: :delete, class: 'login--admin'
      else
        link_to 'ログイン', :admin_login, class: 'login--admin'
      end
  %>
</header>